@import "_variables";
@import "_animations";
@import "_svg";



*,
*::before,
*::after{
    box-sizing: border-box;
    scroll-behavior: smooth;
}


///////// BASIC SETTINGS /////////////////

body{
    padding: 0;
    margin: 0;
    width: 100%;
    background: $mainColor;
    font-family: $primaryFont;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}
h1,h2,h3{
    margin: 0;
}

button{
    cursor: pointer;
}

.specialText{
    position: relative;
    font-size: 1.7rem;
    font-family: $specialFont;
    color: $specialColor;
    font-weight: bold;
}

.lightText{
    color: $secondaryTextColor;
}





////////////// NAVIGACIA /////////////////////////


.mainNav{
    z-index: 999;
    position: absolute;
    font-family: $specialFont;
    background: $lightBackground;
    width: 96%;
    top: 2rem;
    left: 50%;
    margin-left: -48%;
    height: 3rem;
    border-radius: 3.125rem;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    #hamburger{
        display: none;
    }
    img{
        height: 3rem;
        margin-right: 1rem;
    }
    ul{
        margin: 0;
        display: flex;
        justify-content: space-between;
        margin-right: 2rem;
        list-style-type: none;
    }
    a{
        margin-left: 1rem;
        padding: 1.4rem 0;
        position: relative;
        transition: color .2s;
    }
    figure{
        margin: 0;
    }
    #logo{
        display: flex;
        justify-content: start;
        align-items: center;
        font-weight: bold;
    }
}




//////////////////// SECTION CARDS////////////////

#titleCard{
    height: 100vh;
    margin-bottom: 2rem;
    .myPhoto{
        position: absolute;
        z-index: -99;
        background-image: url(../img/title_card_background.jpg);
        background-size: cover;
        background-attachment: fixed;
        min-width: 50%;
        height: 100vh;
        border-radius: 0 40% 40% 0;
    }
    &::before{
        position: absolute;
        content: "Picture to be placed";
        top: 50vh;
        left: 15vw;
        font-size: 2rem;
        transform:rotate(45deg);
        color: $lightBackground;
    }
}
.titleCardCenter{
    position: absolute;
    top: 35%;
    left: 45%;
    width: 50%;
    height: 50%;
    h1{
        width: fit-content;
        font-family: $specialFont;
        font-size: 5rem;
        background: $mainColor;
        padding: 3rem;
        border-radius: 16.5rem;
    }
    .titleText{
        margin-left: 10rem;
    }
    p{
        width: 70%;
    }
}


.bunky{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    z-index: 99;
}

#aboutMe{
    position: relative;
    padding: 1rem;
    width: 50rem;
    height: 20.625rem;
    z-index: 99;
    p{
        width: 100%;
        margin: 0 auto;
    }
    @include specialH2("ABOUT");
    .specialText::before{
        color: $lightBackground;
    }
    h2{
        margin-left: 0;
        margin-bottom: 1rem;
    }
}

#contact{
    position: relative;
    padding: 1rem;
    width: 50rem;
    height: 20.625rem;
    z-index: 99;
    ul{
        z-index: 99;
        margin: 0 auto;
        width: 60%;
        list-style-type: none;
        padding: 0;
        line-height: 2rem;
    }
    span.specialText{
        font-size: 1.2rem;
    }
    li{
        z-index: 99;
    }
    @include specialH2("CONTACT");
    .specialText::before{
        color: $lightBackground;
    }
    h2{
        margin-left: 0;
        margin-bottom: 1rem;
    }
}

#resume{
    z-index: 2;
    position: relative;
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
    @include specialH2("RESUME");
    &>h2{
        width: 100%;
        text-align: center;
        margin: 0;
        margin-bottom: 3rem;
        &::before{
            color: $lightBackground;
            top: 0;
            left: 50%;
            margin-left: -5rem;
        }
    }
}


#portfolio{
    z-index: 99;
    padding: 8rem 0;
    height: fit-content;
    width: 100%;
    background-color: $lightBackground;
    position: relative;
    @include specialH2("PORTFOLIO");
}


#technologies{
    display: none;
    position: relative;
    background-color: $lightBackground;
    padding-bottom: 5rem;
    z-index: 99;
    @include specialH2("TECHNOLOGIES");
    ul{
        padding: 1rem;
        background-color: $mainColor;
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
    }
    img{
        width: 10rem;
    }
}

#learning{
    background-color: $lightBackground;
    padding-bottom: 5rem;
    z-index: 99; 
    @include specialH2("SOURCES");
    &>h2{
        z-index: 99;
    }
}



.sourcesContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 2rem;
    z-index: 99;
    .source{
        padding: 2rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        z-index: 99;
    }
    p{
        margin-left: 5rem;
        padding-left: 4rem;
        width: 40rem;
        border-left: 1px solid $mainColor;
    }
    img{
        border-radius: 5px;
        width: 10rem;
    }
}

























#techIUse{
    position: relative; 
    z-index: 99;
    @include specialH2("Technologies");
    &>h2{
        margin-bottom: 8rem;
        z-index: 99;
    }
}

.projectRight{
    border: 2px solid $specialColor;
    position: relative;
    background-color: $mainColor;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2rem;
    .textBlock{
        padding: 2rem;
        width: 60%;
    }
    .img{
        position: relative;
        margin-right: 3rem;
        background-size: cover;
        width: 20rem;
        height: 20rem;
        &::before{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: transparentize($mainColor, .6);
        }
    }
}


.job{
    position: relative;
    border: 1px solid $lightBackground;
    width: 30rem;
    height: 17.25rem;
    text-align: center;
    padding: 2rem;
    background-color: $mainColor;
    h3{
        position: absolute;
        font-size: 0.9rem;
        font-weight: normal;
        bottom: 2rem;
        width: 17rem;
        left: 50%;
        margin-left: -8.5rem;
    }
   .lightText{
       margin-top: 1rem;
   }
}


form{
    width: 50%;
    margin: 0 auto;
    label{
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    input,textarea{
        padding: 1rem;
        border: none;
        background-color: $mainColor;
        border-radius: 0.625rem;
        color: white;
        &:focus{
            outline: 2px solid $specialColor;
        }
    }
    input{
        width: 70%;
        height: 2rem;
        border: 1px solid $lightBackground;
    }
    textarea{
        width: 100%;
        border: 1px solid $lightBackground;
    }
    button{
        position: relative;
        background-color: transparent;
        color: white;
        width: 10rem;
    }
}



footer aside{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    padding: 0;
    height: fit-content;
    background-color: $lightBackground;
    color: $mainColor;
    p{
        margin: 0;
        padding: 0 1rem;
    }
}


.button.download{
    &::before{
        content: "⤓";
    }
}

#confirmation{
    text-align: center;
    display: none;
    z-index: 99;
    position: fixed;
    top: 10rem;
    right: 10rem;
    background: rgba(89, 255, 89, 0.8);
    color: white;
    padding: 1rem;
    width: 15rem;
    font-size: .7rem;
    border-radius: 10px;
}

#denied{
    text-align: center;
    display: none;
    z-index: 99;
    position: fixed;
    top: 10rem;
    right: 10rem;
    background: rgba(255, 0, 0, 0.712);
    color: white;
    padding: 1rem;
    width: 15rem;
    font-size: .7rem;
    border-radius: 10px;
}







/////////////// BUTTONS //////////////////////////
.button{
    color: $specialColor;
    position: relative;
    
    border: 1px solid $specialColor;
    padding: 0.5rem;
    border-radius: 0.3125rem 1.25rem 0.3125rem 1.25rem;
    transition: border-color .4s, color .4s;
    overflow: hidden;
    &:hover{
        &::before{
            clip-path: ellipse(100% 1000% at 50px);
        }
    }
    &:active{
        &::before{
            background-color: lighten($specialColor, 10%);
        }
    }
    &::before{
        font-size: 2rem;
        color: $mainColor;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.3125rem 1.25rem 0.3125rem 1.25rem;
        content: "➜";
        position: absolute;
        background-color: $specialColor;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        clip-path: ellipse(0% 100% at 0);
        transition: clip-path .4s ease;
    }
}


.anim{
    z-index: -1;
    animation: appear .5s ease-in-out forwards;
    
    
}












































@import "_mediaQuery";